pzv-datapipeline/src/main/resources/wsdl/RTB.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://www.phasezeroventures.com/dana/rtb/schemas"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.phasezeroventures.com/dana/rtb/definitions"
	targetNamespace="http://www.phasezeroventures.com/dana/rtb/definitions">
	<wsdl:types>
		<xs:schema xmlns="http://www.phasezeroventures.com/dana/rtb/schemas"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
			targetNamespace="http://www.phasezeroventures.com/dana/rtb/schemas">

			<xs:element name="LoadRTBRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="rtbs" type="RTBDetail" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:complexType name="RTBDetail">
				<xs:sequence>
					<xs:element name="ShipToCustomerId" nillable="false"
						type="xs:string" />
					<xs:element name="SalesOrg" type="xs:string" />
					<xs:element name="Type" type="xs:boolean" />
					<xs:element name="RTBGroup" nillable="false" type="xs:string" />
					<xs:element name="ValidFrom" nillable="false" type="xs:date" />
					<xs:element name="ValidTo" nillable="false" type="xs:date" />
				</xs:sequence>
			</xs:complexType>

			<xs:element name="LoadRTBResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TotalRTBDetailsReceived" type="xs:long" />
						<xs:element name="TotalRTBDetailsLoaded" type="xs:long" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="LoadRTBResponse">
		<wsdl:part element="sch:LoadRTBResponse" name="LoadRTBResponse" />

	</wsdl:message>
	<wsdl:message name="LoadRTBRequest">
		<wsdl:part element="sch:LoadRTBRequest" name="LoadRTBRequest" />

	</wsdl:message>
	<wsdl:portType name="RTB">
		<wsdl:operation name="LoadRTB">
			<wsdl:input message="tns:LoadRTBRequest" name="LoadRTBRequest" />

			<wsdl:output message="tns:LoadRTBResponse" name="LoadRTBResponse" />

		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RTBSoap11" type="tns:RTB">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="LoadRTB">
			<soap:operation soapAction="" />
			<wsdl:input name="LoadRTBRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="LoadRTBResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LoadRTBService">
		<wsdl:port binding="tns:RTBSoap11" name="RTBSoap11">
			<soap:address
				location="http://${ws.host}:${ws.port}/${ws.context.path}/soap/loadRTBDetails" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>